/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.button {
    display: inline-block;
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}
.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
    display: block;
    margin: 0 auto 10px; /* Centers the logo and adds some space below */
}